@import './fonts.css';
@import './colors.css';
@import './normalize.css';

:root {
    font-size: 12px;
    --font-primary: 'SpaceGrotesk';
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font: 400 1.25rem /1.6 var(--font-primary);
    color: var(--color-fg);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    height: 100%;
}

section { height: 100vh; scroll-snap-align: start; }

h2 { font-weight: 500; }

a {
    text-decoration: none;
    color: unset;
    transition: color 0.5s;
}

a:hover {
    font-weight: 700;
}

h1,
h2,
h3 {
    margin: 0 0 1rem;
}

p { margin: 0 0 1rem; }

footer {
    padding: 5rem;
    text-align: center;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scroll-container {
    height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
#title { font-weight: 300; line-height: 1.2; }
#subtitle { font-weight: 700; }

.container {
    display: flex;
    flex-direction: column;
    width: min(80%, 70rem);
    height: 100%;
    margin-inline: auto;
    justify-content: space-evenly;
}

.split {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.split > * { width: 100%; }

.hero {
    font-size: 2rem;
    justify-content: center;
    gap: 3rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.odd { color: var(--color-fg); background-color: var(--color-bg); }
.even { color: var(--color-bg); background-color: var(--color-fg); }
.transparent { background-color: transparent !important; }
.centered { align-self: center; }

.icons {
    font-size: 2.5em;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    width: min(95%, 15em);
    margin-inline: auto;
}
.icons.centered { justify-content: center; }
.icon {
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}
.icon:hover {
    transform: scale(1.25);
}
.icon img {
    height: 24px;
}
.avatar {
    border: 10px solid var(--color-fg);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin: 1rem;
    width: 25rem;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.picture {
    width: 100%;
}

.picture img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.1s;
}

.picture img:hover {
    transform: scale(1.125);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    width: min(80%, 70rem);
    height: 4rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon { transition: transform 0.1s, color 0.5s; }
.nav-icon:hover { transform: scale(1.25); }

@media only screen and (min-width: 40em) {
    :root { font-size: 16px; }
    .split {
        flex-direction: row;
        gap: 3rem;
        height: 100%;
        align-items: center;
    }
    .split > * { flex-basis: 100%; }
    .split.asymmetrical > *:first-child { flex-basis: 60%; }
    .split.asymmetrical > *:last-child { flex-basis: 40%; }
    .reverse {
        flex-direction: row-reverse;
    }
    .reverse .project { align-items: flex-end; }
    .avatar { margin: 0rem; }
    .icons { gap: 2rem; font-size: 2em; }
}
