@import './fonts.css';
@import './colors.css';
@import './normalize.css';

:root {
    font-size: 12px;
    --font-primary: 'SpaceGrotesk';
}

html {
    height: 100%;
}

body {
    font: 400 1.25rem /1.6 var(--font-primary);
    color: var(--color-fg);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    height: 100%;
}

section { height: 100vh; scroll-snap-align: start; }

h2 { font-weight: 500; }

a {
    text-decoration: none;
    color: unset;
    transition: color 0.5s;
}

a:hover {
    font-weight: 700;
}

h1,
h2,
h3 {
    margin: 0 0 1rem;
}

p { margin: 0 0 1rem; }

footer {
    padding: 5rem;
    text-align: center;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pt-2 {
    padding-top: 2rem;
}
.scroll-container {
    height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
#title { font-weight: 300; line-height: 1.2; }
#subtitle { font-weight: 700; }

.container {
    display: flex;
    flex-direction: column;
    width: min(80%, 70rem);
    height: 100%;
    margin-inline: auto;
    justify-content: space-evenly;
}

.split {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.split > * { width: 100%; }

.hero {
    font-size: 2rem;
    justify-content: center;
    gap: 3rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.odd { color: var(--color-fg); background-color: var(--color-bg); }
.even { color: var(--color-bg); background-color: var(--color-fg); }
.transparent { background-color: transparent !important; }

.icons {
    font-size: 2.5em;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    width: min(95%, 15em);
}
.icons.centered { justify-content: center; }
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}
.icon.with-name {
    flex-direction: column;
    position: relative;
}
.icon.with-name span {
    font-size: 0.75rem;
    position: absolute;
    top: 3.25rem;
}
.icon.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
.icon:hover {
    transform: scale(1.25);
}
.icon img {
    height: 1em;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project .icons { margin-bottom: 2.5rem; }
.avatar {
    border: 10px solid var(--color-fg);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin: 1rem;
    width: 25rem;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.picture {
    width: 100%;
}

.picture img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.1s;
}

.picture img:hover {
    transform: scale(1.125);
}

nav {
    position: absolute;
    width: 100vw;
    height: 4rem;
    font-size: 1rem;
    z-index: 10;
}

.navbar {
    width: min(90%, 70rem);
    position: relative;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-start {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-menu {
    position: absolute;
    top: 5.5rem;
    right: 1rem;
    visibility: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow:scroll;
    transition: max-height 0.5s, visibility 0.5s;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.1));
    scrollbar-width: none;
}

.nav-menu::-webkit-scrollbar { display: none; }

.nav-link {
    width: 7rem;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-alt);
    padding: 0.5rem;
    border-radius: 10px;
}

.nav-link i {
    margin: 0 0.5rem;
}

.nav-link.even { background-color: var(--color-fg-alt); }

.visible {
    visibility: visible;
    max-height: 100vh;
}

.burger {
    margin: 0;
    padding: 0.5rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-bg-alt);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.burger:active {
    transform: scale(0.9);
}

.burger.even { background-color: var(--color-fg-alt); }

.burger-line {
    width: 2rem;
    height: 1px;
    background-color: var(--color-fg);
}

.burger.even .burger-line { background-color: var(--color-bg); }

@media only screen and (min-width: 40em) {
    :root { font-size: 16px; }
    .split {
        flex-direction: row;
        gap: 3rem;
        height: 100%;
        align-items: center;
    }
    .split > * { flex-basis: 100%; }
    .split.asymmetrical > *:last-child { flex-basis: 60%; }
    .split.asymmetrical > *:first-child { flex-basis: 40%; }
    .reverse { flex-direction: row-reverse; }
    .reverse .project { align-items: flex-end; }
    .reverse .project .icons { justify-content: flex-end; }
    .avatar { margin: 0rem; }
    .icons { gap: 3rem; font-size: 2em; }
    .icon.with-name span { top: 2.75rem;  }
    nav { height: 100%; width: 9rem; left: 1rem; overflow: hidden; }
    .nav-menu {
        visibility: visible; max-height: unset; top: 50%; left: 1rem;
        transform: translateY(calc(-1rem - 50%));
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .nav-link {
        height: 2rem;
        width: min-content;
    }
    .nav-link span {
        visibility: hidden;
        max-width: 0;
        opacity: 0;
        transition: all 0.5s;
    }
    .nav-link span.visible {
        visibility: visible;
        max-width: 100rem;
        opacity: 1;
        margin-right: 0.5rem;
        transition: all 0.2s;
    }
    .burger { display: none; }
}
